.Gallery {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  padding-block: 50px;
}



@media (max-width: 480px) {
  .Gallery {
    padding-block: 20px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;

  }
}