.Gallery {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  justify-items: center;
}
