$primary-rgb: 255 96 96;

#logementSection {
  color: rgb($primary-rgb);
  font-size: 30px;
}

#LogementCover {
  height: 415px;
  width: 100%;
  object-fit: cover;
  margin-block: 2rem;
  border-radius: 10px;
}

#divInit {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-block: 2rem;
  margin: 0%;
}

#logementHost {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0%;
  div {
    margin: 0%;
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-inline: 1rem;
  }
}

#logementTitle {
  font-size: larger;
}

#logementHostName {
  max-width: 150px;
  font-size: smaller;
  position: relative;
  text-align: right;

  &::before {
    content: "";
    display: block;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 0.5em;
  }
}

#logementLocation {
  width: 100%;
  font-size: x-large;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#div2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-block: 2rem;
  margin: 0%;
}

#tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  color: white;
  background-color: rgb($primary-rgb);
  border-radius: 30px;
  padding-inline: 4rem;
  padding-block: 0.75rem;
  font-size: x-large;
  margin-right: 1rem;
}

.ic_grey {
  color: rgba(227, 227, 227, 1);
}
.ic_grey,
.ic_pink {
  margin-left: 1rem;
}
#logementStars {
  display: flex;
  flex-wrap: nowrap;
}

#logementCollapse {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.classCollaps {
  width: 40%;
}

@media (max-width: 630px) {
  i {
    font-size: 20px;
    margin-bottom: 0.1rem;
  }
  #divInit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #div1,
  #div2,
  #tags {
    font-size: 20px;
  }

  #logementLocation {
    width: 100%;
    font-size: x-large;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  .tag {
    font-size: small;
    padding-inline: 3rem;
    padding-block: 0.5rem;
    margin-right: 0.5rem;
  }

  #logementCollapse {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }

  #div2 {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
  }

  .classCollaps {
    width: 80%;
  }
}
