$primary-rgb: 255 96 96;
.logo-link {
  display: flex;
  flex-direction: row;

  h1 span {

    font-size: 100px;
    img {
      margin-inline: 125px;
    }
  }
}

nav {
  color: rgb($primary-rgb);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 2rem;
  white-space: nowrap; /* Add this property */

  .divNav {
    display: flex;
    gap: 3rem;
    padding-left: 3rem;
    align-items: center;
  }

  .logo-link.active {
    border-bottom: none;
  }

  .active {
    border-bottom: 2px solid rgb($primary-rgb);
  }
}

@media (max-width: 480px) {
  nav {
    font-size: medium;


    .logo-link {
      display: flex;
      flex-direction: row;
    
      h1 span {
    
        font-size: 50px;
        img {
          margin-inline: 15px;
        }
      }
    }
    h1 img {
      transform: scale(0.8); /* Reduce the size of the image by 50% */
      transform-origin: bottom; /* Set the transform origin to the bottom-left corner */
    }
  }
}
