$primary-rgb: 255 96 96;
.logo-link {
  h1 {
    font-size: 100px;
    img {
      margin-inline: 10px;
    }
  }
}

nav {
  color: rgb($primary-rgb);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 2rem;

  .divNav {
    display: flex;
    gap: 3rem; /* Add the gap property here */
    padding-left: 3rem;
  }

  .logo-link.active {
    border-bottom: none;
  }

  .active {
    border-bottom: 2px solid rgb($primary-rgb);
  }
}
