$primary-rgb: 255 96 96;

#nfSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  #_404 {
    color: rgb($primary-rgb);
    font-size: 400px;
    margin-block: 3rem;
font-weight: 700;

  }
  .linkToHome {
    color: rgb($primary-rgb);
    font-size: 20px;
    margin-block: 7rem;
    border-bottom: 2px solid rgb($primary-rgb);
  }
}

#Oups {
  color: rgb($primary-rgb);
  font-size: 50px;
  margin-block: 1rem;
}

@media (max-width: 480px) {
  #nfSection {
    #_404 {
      font-size: 200px;
    }
    .linkToHome {
      font-size: 15px;
      margin-block: 3rem;
    }
  }
  #Oups {
    font-size: 30px;
  }
}
