section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

section div{
    color: rgb(var(--primary-rgb));
        font-size: 40px;
        margin-block-end: 3rem;
}

#_404{
    font-size: 400px;
}