button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1023px;
  height: 80px;
  background-color: rgba(255, 96, 96, 1);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 2rem;

  p {
    padding: 10px;
  }
}

#chevron {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg);
}

.divCol {
  padding: 1rem;
  font-size: x-large;
  display: flex;
  width: 1023px;
  background-color: rgba(246, 246, 246, 1);
}

.slide-in {
  animation: slideInAnimation 0.3s forwards;
}

.slide-out {
  animation: slideOutAnimation 0.3s forwards;
}

@keyframes slideInAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}