button {
  display: flex;
  width: 1023px;
  gap: 38px;
  background-color: rgba(255, 96, 96, 1);
  border: none;
  border-radius: 10px;
  padding: 15px;
  height: 50px;
  color: white;
font-size: large;

}
  .divCol{
    display: flex;
    width: 1023px;
    background-color: rgba(246, 246, 246, 1);
  }

  #chevron{
    color: white;
  }